
.enrolled-card {
  width: 280px;
  padding: 22px;

  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 14px;

  display: flex;
  align-items: center;
  gap: 18px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

  transition: 0.2s ease;
}

.enrolled-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.enrolled-icon {
  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #eef2ff;
  border-radius: 12px;

  font-size: 25px;
}

.enrolled-content p {
  margin: 0 0 8px;
  color: #6b7280;
  font-size: 14px;
}

.enrolled-content h2 {
  margin: 0;
  color: #111827;
  font-size: 30px;
}

